@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/themes/default/css/reset.css" />
    <link rel="stylesheet" href="~/css/kastra.setup.css" />
</head>
<body>
    <div class="o-page-content o-main-container">
        <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
        <!-- Slider -->
        <div class="o-header-container">
            <header class="o-header">
                <h1>Kastra</h1>
                <p>AN OPEN, FREE AND CROSS-PLATFORM CMS</p>
            </header>
        </div>
        <div class="o-content-container">
            <!-- Content -->
            <div class="o-content">
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer class="o-footer">
                <div class="copyright">
                    &copy; 2017 - 2020 Kastra. All rights reserved.
                </div>
            </footer>
        </div>
    </div>
    <script src="~/js/kastra.setup.js"></script>
</body>
</html>
